@mixin flex($aic, $jcc, $gap, $fdc){
    display: flex;
    align-items: $aic;
    justify-content: $jcc;
    gap: $gap;
    flex-direction: $fdc;
}

@mixin grid($gtc, $gap){
    display: grid;
    grid-template-columns: $gtc;
    gap: $gap;
}